# -*- coding: utf-8 -*-
"""
Spyder Editor

This is a temporary script file.
"""

<style>
div.highlight {    
    background-color: #FF33D4;
    border-color: #E74C3C;
    border-left: 5px solid #E74C3C;
    padding: 0.5em;
}
